.body{
    margin: 0%;
    background-image: linear-gradient(#09007d,#1e1c35);
}
.navHome button{
    background-image: linear-gradient(to right,#0d0024,#580000);
    color: white;
    width: 10%;
    font-size: 30px;
    text-align: center;
    padding: 15px 50px 10px;
    float: left;
}
.navHome button:hover{
    background-image: linear-gradient(to right,#0032b1,#8b0000);
}
.navKiller button{
    background-color: #580000;
    color: white;
    width: 90%;
    font-size: 30px;
    text-align: center;
    padding: 15px 50px 10px;
    float: left;
    transition: background-color 1s;
}
.navKiller button:hover{
    background-color: #8b0000;
}
.selections {
    background-color: #333;
    font-size: 22px;
    font-family: 'Julee';
    color: white;
    margin: 0%;
}
.dropSelections{
    font-size: 20px;
    font-family: inherit;
    background-color: #1c1c1c;
    color: white;
    float: left;
    width: 100%;
    padding: 5px 6px;
    transition: background-color 0.5s;
}
.dropSelections:hover{
    background-color: #262626;
}
.dropBtn {
    font-size: 24px;
    font-family: inherit;
    padding: 15px 16px;
    background-color: #000116bf;
    color: white;
    float: left;
    width: 100%;
    box-shadow: black;
    display: none;
    transition: background-color 0.5s;
}
.dropBtn:hover{
    background-color: #032654ba;
}
.dropdownSurvBtn {
    display: none;
    background-color: rgb(16, 17, 39);
    width: 100%;
}
.dropdownSurvBtn input{
    width: 50%;
    font-size: 24px;
    float: left;
    font-family: inherit;
    background-color: rgb(17, 19, 53);
    color: white;
    border: none;
    padding: 15px;
}
.dropdownSurvBtn input:hover{
    background-color: #0c1a5a;
}
.dropdownSurv {
    display: none;
    background-color: rgb(16, 17, 39, 0.9);
    height: 715px;
    width: 20%;
    float: left;
    text-align: left;
}
.dropdownSurv input{
    width: 30px;
    height: 30px;
    margin: 20px;
}
.dropdownPerkBtn {
    display: none;
    background-color: rgb(16, 17, 39);
    width: 100%;
}
.dropdownPerkBtn input{
    width: 50%;
    font-size: 24px;
    float: left;
    font-family: inherit;
    background-color: rgb(17, 19, 53);
    color: white;
    border: none;
    padding: 15px;
}
.dropdownPerkBtn input:hover{
    background-color: #0c1a5a;
}
.dropdownPerk {
    display: none;
    background-color: rgb(8, 16, 122, 0.9);
    height: 1650px;
    float: left;
    width: 20%;
}
.dropdownPerk input{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.dropdownPerk fieldset{
    background-color: rgb(0, 0, 95, 0.9);
    border-radius: 7px;
    border-color: rgb(148, 148, 148);
    border-width: 3px;
}
.baseOptPerks button{
    background-color: #0300299d;
    color: white;
    font-size: large;
    border: 1px;
}
.multiAnyHide{
    display: none;
}
.multiNoHide{
    display: none;
}
.dropdownItemBtn {
    display: none;
    background-color: rgb(16, 17, 39);
    width: 100%;
}
.dropdownItemBtn input{
    width: 50%;
    font-size: 24px;
    float: left;
    font-family: inherit;
    background-color: rgb(17, 19, 53);
    color: white;
    border: none;
    padding: 15px;
}
.dropdownItemBtn input:hover{
    background-color: #0c1a5a;
}
.dropdownItem {
    display:none;
    background-color: rgb(4, 8, 65, 0.9);
    float: left;
    width: 16.66%;
    height: 320px;
}
.dropdownItem input{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 75px;
}
.itemAddonHide{
    display: none;
}
.dropdownItem fieldset{
    background-color: rgb(1, 1, 95);
    border-radius: 7px;
    border-color: rgb(148, 148, 148);
    border-width: 3px;
}
.dropdownItem fieldset input{
    margin-left: 10px;
}
.dropdownOfferingBtn {
    display: none;
    background-color: rgb(16, 17, 39);
    width: 100%;
}
.dropdownOfferingBtn input{
    width: 50%;
    font-size: 24px;
    float: left;
    font-family: inherit;
    background-color: rgb(17, 19, 53);
    color: white;
    border: none;
    padding: 15px;
}
.dropdownOffering{
    width: 20%;
    display: none;
    float: left;
    height: 700px;
    background-color: rgb(2, 5, 41, 0.9);
}
.offeringOptions{
    display: block;
}
.randoAllBtn{
    font-size: 30px;
    width: 33%;
    background-color: #001885de;
    color: white;
    margin-left: 33%;
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.5s;
}
.randoAllBtn:hover{
    background-color: #0024c2;
}
.displayBackground{
    background-image: url("Survivor Embers.gif");
    height: 100%;
    float: left;
    width: 100%;
}
.displayResults{
    font-family: 'Julee';
    color: white;
    background-image: linear-gradient(#080a1fbb,#02040cfa);  
}
.perkDisplay{
    text-align: center;
    width: 25%;
    float: left;
    color: white;  
}
.perkDisplay fieldset{
    border: 0px;
    position: relative;
}
.perkDisplay legend{
    font-size: 22px;
}
.perkDisplay img{
    width: 200px;
    height: 200px;
    display: inline;
    transition: width 1s, height 1s;
}
.perkDisplay img:hover{
    width: 210px;
    height: 210px;
}
.perkDisplay span{
    position: absolute;
    text-align: center;
    top: 5%;
    left: 20%;
    right: 20%;
    text-shadow: 0 0 1px #000000, 0 0 20px cyan;
}
.perkDisplay span ul,dl{
    margin-top: 5px;
}
.perkDisplay span li{
    text-align: left;
}
.perkDisplay span dd{
    text-align: left;
}
.tooltip{
    display: none;
}
.randoPerksBtn{
    font-size: 24px;
    width: 33%;
    background-color: #001885de;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    transition: background-color 0.5s;
}
.randoPerksBtn:hover{
    background-color: #0024c2;
}
.itemsDisplay{
    width: 50%;
    height: 440px;
    float: left;
    text-align: center;
    background-color: #02040cfa;
}
.itemsDisplay fieldset{
    height: 400px;
}
.itemsDisplay legend{
    font-size: 24px;
    font-weight: bold;
}
.itemDisplay{
    width: 50%;
    float: left;
}
.itemDisplay img{
    width: 200px;
    height: 200px;
}
.addonDisplay{
    width: 50%;
    float: left;
}
.addonDisplay img{
    width: 125px;
    height: 125px;
    float: left;
}
.addonDisplay p{
    float: left;
    font-size: 22px;
    padding-left: 40px;
    padding-top: 30px;
}
.addonDisplay div{
    height: 150px;
}
.offeringDisplay{
    width: 25%;
    height: 440px;
    float: left;
    text-align: center;
    background-color: #02040cfa;
}
.offeringDisplay fieldset{
    height: 400px;
}
.offeringDisplay legend{
    font-size: 24px;
    font-weight: bold;
}
.offeringDisplay img{
    width: 225px;
    height: 225px;
}
.characterDisplay{
    width: 25%;
    height: 440px;
    float: left;
    text-align: center;
    background-color: #02040cfa;
}
.characterDisplay fieldset{
    height: 400px;
}
.characterDisplay legend{
    font-size: 24px;
    font-weight: bold;
}
.characterDisplay img{
    width: 115px;
    height: 225px;
}
.randoOthersBtn{
    font-size: 24px;
    width: 75%;
    background-color: #001885de;
    color: white;
    font-family: inherit;
    transition: background-color 0.5s;
}
.randoOthersBtn:hover{
    background-color: #0024c2;
}